
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Interactive Slider ===-->
<div class="breadcrumbs-v3 img-v1 text-center">
    <div class="container">
        <h1>HAKKIMIZDA</h1>
    </div>
</div>
<!--=== End Interactive Slider ===-->
<!--=== Title v1 ===-->
<div class="container content-sm">
    <div class="title-v1 no-margin-bottom">
        <p class="no-margin-bottom">
            Üretilen ürünlerimiz tamamen <strong>doğal</strong> ortamlarda yetişmektedir.<br />
            Sektöre yıllarını vermiş ve kendini adamış firmamız, doğallığın ve tazeliğin aranan adresi olmayı başarmıştır.
        </p>
        <hr />
        <iframe width="854" height="480" src="https://www.youtube.com/embed/Y-Smw1LUhF8" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<!--=== Container Part ===-->
<div class="container content-sm">
    <div class="headline-center margin-bottom-60">
        <h2>NEDEN BİZ EN İYİSİYİZ?</h2>
        <p>
            Üretilen ürünlerimiz tamamen <strong>doğal</strong> ortamlarda yetişmektedir.<br />
            Sektöre yıllarını vermiş ve kendini adamış firmamız, doğallığın ve tazeliğin aranan adresi olmayı başarmıştır.
        </p>
    </div>
    <div class="row">
        <div class="col-sm-6 md-margin-bottom-50">
            <p>
                Üretilen ürünlerimiz tamamen <strong>doğal</strong> ortamlarda yetişmektedir.<br />
                Sektöre yıllarını vermiş ve kendini adamış firmamız, doğallığın ve tazeliğin aranan adresi olmayı başarmıştır.
            </p>
            <a href="/Products" class="btn-u">Hemen Alışverişe Başla!</a>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-3 text-center">
                    <div class="progress progress-u vertical bottom">
                        <div class="progress-bar progress-bar-u" role="progressbar" data-height="100"></div>
                    </div>
                    <span>100%</span>
                    <h4>DOĞAL</h4>
                </div>
                <div class="col-xs-3 text-center">
                    <div class="progress progress-u vertical bottom">
                        <div class="progress-bar progress-bar-u" role="progressbar" data-height="100"></div>
                    </div>
                    <span>100%</span>
                    <h4>TAZE</h4>
                </div>
                <div class="col-xs-3 text-center">
                    <div class="progress progress-u vertical bottom">
                        <div class="progress-bar progress-bar-u" role="progressbar" data-height="100"></div>
                    </div>
                    <span>100%</span>
                    <h4>FİYAT</h4>
                </div>
                <div class="col-xs-3 text-center">
                    <div class="progress progress-u vertical bottom">
                        <div class="progress-bar progress-bar-u" role="progressbar" data-height="100"></div>
                    </div>
                    <span>100%</span>
                    <h4>MEMNUNİYET</h4>
                </div>
            </div>
        </div>
    </div><!--/end row-->
</div>
<!--=== End Container Part ===-->
<!--=== Parallax Counter v4 ===-->
<div class="parallax-counter-v4 parallaxBg">
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-3 col-xs-6 md-margin-bottom-50">
                <i class="icon-arrow-up" style="visibility:hidden;"></i>
                <span class="counter"></span>
                <h4></h4>
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</div>