<ul class="list-group sidebar-nav-v1" id="sidebar-nav">
    <li class="list-group-item">
        <a href="/Customer">Hesap bilgileri</a>
    </li>
    <li class="list-group-item">
        <a href="/Customer/Credential">Giriş bilgileri</a>
    </li>
    <li class="list-group-item">
        <a href="/ShoppingCart">Sepetim</a>
    </li>
    <li class="list-group-item">
        <a href="/Customer/Logout">Güvenli Çıkış</a>
    </li>
</ul>